In [1]:
import pandas as pd
from dont_patronize_me import DontPatronizeMe
device = 'cuda'

In [2]:
dpm = DontPatronizeMe('.')

In [3]:

data = dpm.load_task2()

In [4]:
data.head()

,par_id,art_id,text,keyword,country,label
0,4046,@@14767805,we also know that they can benefit by receivin...,hopeless,us,"[1, 1, 0, 0, 0, 0, 0]"
1,1279,@@7896098,pope francis washed and kissed the feet of mus...,refugee,ng,"[0, 0, 1, 0, 0, 0, 0]"
2,8330,@@17252299,many refugees do n't want to be resettled anyw...,refugee,ng,"[0, 0, 0, 1, 0, 0, 0]"
3,4063,@@3002894,"""budding chefs , like """" fred """" , """" winston ...",in-need,ie,"[1, 1, 0, 0, 1, 1, 0]"
4,4089,@@25597822,"""in a 90-degree view of his constituency , one...",homeless,pk,"[0, 1, 0, 0, 0, 0, 0]"

In [9]:
data['keyword'].value_counts()

homeless         178
in-need          176
poor-families    150
hopeless         124
refugee           86
disabled          81
vulnerable        80
women             52
migrant           36
immigrant         30
Name: keyword, dtype: int64

In [6]:
from transformers import AutoTokenizer, AutoModelForSequenceClassification

tokenizer = AutoTokenizer.from_pretrained("Hate-speech-CNERG/bert-base-uncased-hatexplain")

model = AutoModelForSequenceClassification.from_pretrained("Hate-speech-CNERG/bert-base-uncased-hatexplain").to(device)

In [7]:
tokenizer(data.iloc[0, 2])

{'input_ids': [101, 2057, 2036, 2113, 2008, 2027, 2064, 5770, 2011, 4909, 17041, 2013, 2619, 2040, 2064, 2393, 2068, 3305, 2008, 2037, 5346, 2024, 3671, 1998, 2008, 2037, 3663, 2003, 2025, 20625, 1025, 2619, 2040, 2064, 2393, 2068, 2404, 2037, 3663, 1999, 7339, 1998, 2393, 2068, 10639, 2007, 2500, 2040, 2071, 3073, 2490, 1025, 2619, 3716, 3085, 2055, 4219, 2027, 2064, 3229, 1025, 2619, 2040, 2064, 2393, 2068, 2933, 2005, 2037, 3791, 1998, 1996, 3791, 1997, 2037, 2775, 2011, 4975, 2593, 1037, 28586, 2933, 2030, 2019, 9886, 2933, 1012, 102], 'token_type_ids': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'attention_mask': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}

In [8]:
tokenizer.encode_plus(data.loc[15, 'text'])

[101,
 2613,
 5635,
 1997,
 3725,
 1024,
 16880,
 4871,
 1997,
 2866,
 1999,
 1996,
 22651,
 2073,
 3532,
 2428,
 3214,
 3532,
 1026,
 1044,
 1028,
 2122,
 2524,
 1011,
 7294,
 7008,
 3749,
 1037,
 12185,
 2046,
 1996,
 24560,
 2075,
 2154,
 1011,
 2000,
 1011,
 2154,
 2005,
 3532,
 2945,
 2542,
 1999,
 3725,
 2076,
 1996,
 22651,
 1012,
 102]

In [ ]:
# from torch import nn
# pt_predictions = nn.functional.softmax(pt_outputs.logits, dim=-1)

In [ ]:
print(pt_predictions)